@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0; 
    margin: 0; 
}

.app {
    width: 1440px; 
    height: 900px; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    font-family: 'Kumbh Sans';
    width: 1111px;
    height: 62px;
    margin: 29px 164px 0px 164px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #E4E9F2;
}

.pageTitle {
    margin: 12px 48.5px 16px 0px; 
    font-weight: 600;
    font-size: 30px;
    line-height: 26px;
    width: 137.5px;
}

.navbar {
    width: 397px;
    height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    margin-right: 410px; 
    color: #69707D;
}

.menuItem {
    padding-bottom: 41px; 
}

.menuItem:hover {
    color: #1D2026;
    border-bottom: 4px solid #FF7E1B;
    cursor: pointer;
}

.cartIcon {
    color: #69707D;
    width: 21.82px;
    height: 20px;
}


.profileImg {
    width: 50px; 
    height: 50px; 
    margin-left: 46px; 
    border-radius: 50%;
}

.profileImg:hover {
    cursor: pointer;
    border: 2px solid #FF7E1B;
} 

.productPageWrapper {
    margin-top: 90px; 
    width: 1015px;
    height: 565px;
    border: 1px solid red; 
}



.productImages {

}

.mainProductImg {

}

.imgSliderWrapper {
    width: 445px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
}

.imgSlider {
    width: 88px;
    height: 88px;
}

.imgSlider:hover {
    opacity: 0.5;
    cursor: pointer;
}

.imgSliderActive {
    opacity: 0.25; 
    width: 88px;
    height: 88px;
    border: 2px solid #FF7E1B;
    border-radius: 10px;
}

.productPresentation {

}

.counter {
    height: 56px;
    width: 157px;
    border-radius: 10px;
        
    background: #F6F8FD;
    border-radius: 10px;
}

.minus {
    width: 12px;
    height: 3.33px;
    background: #FF7E1B;
    font-size: 1.5rem;
}

.minus:hover {
    cursor: pointer;
}

.plus {
    width: 12px;
    height: 12px;
}

.plus:hover {
    cursor: pointer;
}


.numOfItems {
    height: 20px;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    text-align: center;    
    color: #1D2026;
}

.cartBtn {
    height: 56px;
    width: 272px;

    background: #FF7E1B;
    border-radius: 10px;

    border: none; 
}

.cartBtnWrapper {
    height: 19px;
    width: 119px;
    border-radius: 0px;

}

.cartBtnText {
    height: 20px;

    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    color: #FFFFFF;
}

.cartBtnIcon {

    height: 16px;
    width: 17.456958770751953px;
    border-radius: 0px; 

    color: #FFFFFF;
}

